	<!--about-->
	<div class="about-w3layouts" id="about">
		<div class="container">
			<div class="tittle-agileinfo">
				<div class="title-wthree">
					<h5 class="title-w3">About Me</h5>
					<div class="clearfix"></div>
				</div>
				<div class="about-top">
					<!--
					<h3 class="subheading-agileits-w3layouts">Some words about me</h3>
					<p class="para-agileits-w3layouts">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis tristique est, et egestas odio. Mauris ac tristique
						arcu, sed interdum risus. </p>
					-->
				</div>
			</div>
			<div class="col-md-4 about-left-agileits">
			
				<div class="services-grids social">
					<a class="fa fa-desktop" aria-hidden="true"></a>
					<p class="para-agileits-w3layouts"> 		 	<ul>
							<li class="skills">Ruby on Rails 
							<li class="skills">Node.js
							<li class="skills">React
						</ul>		
					</p>
					<div class="clearfix"></div>
					<h6>Web Application Development</h6>
				</div>
				<div class="services-grids">
					<a class="fa fa-globe" aria-hidden="true"></a>
					<p class="para-agileits-w3layouts">
						<ul>
							<li class="skills">HTML5 
							<li class="skills">CSS
							<li class="skills">Javascript
						</ul>	
					</p>
					<h6>Website Development</h6>
				</div>
				
				<div class="services-grids">
					<a class="fa fa-object-group" aria-hidden="true"></a>
					<p class="para-agileits-w3layouts">
						<ul>
							<li class="skills">Microservices 
							<li class="skills">Serverless
							<li class="skills">Event-Driven
						</ul>
					</p>
					<h6>Software Architecture</h6>
				</div>
				<div class="services-grids">
					<a class="fa fa-mobile" aria-hidden="true"></a>
					<p class="para-agileits-w3layouts">
						<ul>
							<li class="skills">Project Management
								<li class="skills">Pre-Sales Engineering
								<li class="skills">Client Relations
						</ul>
					</p>
					<h6>Consulting</h6>
				</div>
				<div class="clearfix"></div>
			</div>
	

			<div class="col-md-8 about-right">
				<div class="about-border-w3ls">
				</div>
				<div class="person-info-agileits-w3layouts">
					<p class="para-agileits-w3layouts"><span>Hi! I'm Simone Battiste-Alleyne </span>I'm a full-stack developer who focuses on backend development. Lately I've been focusing on growing my DevOps, Automation, and Cloud Engineering skills, but I consider myself a Jill of All Trades.</p>
					<ul>
						<li><span>Name</span>: Simone Battiste-Alleyne</li>
						<li><span>Experience</span>: 3 Years</li>
						<li><span>Location</span>: Charlotte, NC</li>
						<li><a href="/resume" class="botton-w3ls">Download Resume</a>
						</li>
					</ul>
					<div class="clearfix"></div>

					<div class="pos-w3ls"></div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//about-->