<!-- contact -->
<div class="contact-agileits-w3layouts" id="contact">
  <div class="contact-right-wthree">
    <div class="container">
      <div class="title-wthree">
        <h5 class="title-w3">Contact Me</h5>
        <div class="clearfix"></div>
      </div>
      <div class="address-w3layouts">
        <p class="para-agileits-w3layouts"></p>
        <h4><a href="mailto:nuvonerd@gmail.com">nuvonerd@gmail.com</a></h4>
        <p class="para-agileits-w3layouts">Charlotte, NC</p>
      </div>
      <div class="botttom-nav-agileits">
        <div class="w3l-social">
          <ul>
            <li><a href="https://www.linkedin.com/in/simonebaclt/" class="fa fa-linkedin"></a></li>
            <li><a href="https://twitter.com/nuvoNerd" class="fa fa-twitter"></a></li>
            <!--
            <li><a href="#" class="fa fa-google-plus"></a></li>
            -->
          </ul>
        </div>
      </div>
      <div class="clearfix"> </div>
      <div>
        <p class="para-agileits-w3layouts">A HUGE thank you to <a href="https://www.wocintechchat.com/blog/wocintechphotos">#WOCinTechChat</a> for the beautiful and free stock photos showcasing the diversity of women in tech that I was able to incorporate in my site!</p>
    </div>
  </div>