<!--education-->
<div class="display-w3lsagile">
  <div class="col-md-7 col-sm-7 edu-img-agileits">
  </div>
  <div class="col-md-5 col-sm-5 display-grid-w3lsagile display-grid-1-w3lsagile">

    <!-- Scrolling-Articles -->
    <div class="activity_box agileits w3layouts" id="education">
      <div class="title-wthree">
        <h5 class="title-w3">Education</h5>
        <div class="clearfix"></div>
      </div>
      <div class="scrollbar agileits w3layouts" id="style-2">
        <div class="activity-row agileits w3layouts">
          <div class="activity-img agileits w3layouts">
            <h6>2014</h6>
          </div>
          <div class="activity-desc agileits w3layouts">
            <h5>Tech Talent South</h5>
            <p class="para-agileits-w3layouts"> Web Development Bootcamp</p>
          </div>
          <div class="clearfix"></div>
        </div>
        
        <div class="activity-row agileits w3layouts">
          <div class="activity-img agileits w3layouts">
            <h6>2006-2010</h6>
          </div>
          <div class="activity-desc agileits w3layouts">
            <h5>SUNY University at Buffalo</h5>
            <p class="para-agileits-w3layouts"> BA Communication | Minor Sociology</p>
          </div>
          <div class="clearfix"></div>
        </div>
    
      </div>
    </div>
    <!-- //Scrolling-Articles -->

  </div>
  <div class="clearfix"></div>
</div>
<!--//education-->