<!--experience-->
<div class="display-w3lsagile">
  <div class="col-md-7 col-sm-7 exp-img-agileits">
  </div>
  <div class="col-md-5 col-sm-5 display-grid-w3lsagile display-grid-1-w3lsagile">

    <!-- Work Exp -->
    <div class="activity_box agileits w3layouts" id="work">
      <div class="title-wthree work_box">
        <h5 class="title-w3">Work Experience</h5>
        <div class="clearfix"></div>
      </div>
      <div class="scrollbar agileits w3layouts" id="style-1">
        <div class="activity-row agileits w3layouts">
          <div class="activity-img agileits w3layouts">
            <h6>12/2016-present</h6>
          </div>
          <div class="activity-desc agileits w3layouts">
            <h5>Accenture | Technology Architecture Consultant</h5>
            <p class="para-agileits-w3layouts">Responsible for pre-sales engineering, architecture, and delivery. Technologies used: 
                <li> React
                <li> Redux
                <li> Angular 4
                <li> Bootstrap
              <li> Material Design
              <li> Node.js (Express/Hapi)
              <li> Microservices
              <li> CI/CD
                <li> Amazon Web Services 
                <li> Terraform  
                <li> Jenkins
              <li> Docker
              </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="activity-row agileits w3layouts">
          <div class="activity-img agileits w3layouts">
            <h6>10/2015-12/2016</h6>
          </div>
          <div class="activity-desc agileits w3layouts">
            <h5>Tax Management Associates | Software Engineer</h5>
            <p class="para-agileits-w3layouts"> Responsible for software engineering using: 
                <li> React
                <li> Redux
                <li> Serverless
              <li> Microservices
              <li> CI/CD
                <li> Node.js (Express/Hapi)
                <li> Amazon Web Services 
                <li> Ruby on Rails
              <li> MySQL
              <li> PostgresQL
              </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="activity-row agileits w3layouts">
          <div class="activity-img agileits w3layouts">
            <h6>7/2015-9/2015</h6>
          </div>
          <div class="activity-desc agileits w3layouts">
            <h5>Quintevents | Jr. Ruby Engineer</h5>
            <p class="para-agileits-w3layouts"> Responsible for software engineering using: 
                <li> Ruby on Rails
                <li> JQuery
                <li> SASS
                <li> Bootstrap
                <li> Amazon Web Services 
              </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="activity-row agileits w3layouts">
          <div class="activity-img agileits w3layouts">
            <h6>5/2015-7/2015</h6>
          </div>
          <div class="activity-desc agileits w3layouts">
            <h5>Tech Talent South | Web Development Instructor</h5>
            <p class="para-agileits-w3layouts"> Responsible for teaching students web development fundamentals with tools including:  
                <li> Ruby on Rails
              <li> MySQL
              <li> PostgresQL
                <li> JQuery
                <li> SASS
                <li> Bootstrap
              <li> Foundation
              <li> Heroku
              <li> Git/Github		
              </p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- //Scrolling-Articles -->

  </div>
  <div class="clearfix"></div>
</div>
<!--//experience-->