<!-- Footer -->
<div class="copyright-wthree">
  <div class="container">
    <p id="rights">&copy; 2018  All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts </a></p>
  </div>
</div>
<!-- //Footer -->