<!-- gallery
	<div class="gallery" id="portfolio">
		<div class="container">
			<div class="title-wthree">
				<h5 class="title-w3">Portfolio</h5>
				<div class="clearfix"></div>
			</div>
			<div class="w3ls_gallery_grids">
				<div class="col-md-4 w3_agile_gallery_grid">
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/1.jpg">
							<div class="agile_gallery_grid1">
								<img src="images/1.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/2.jpg">
							<div class="agile_gallery_grid1">
								<img src="images/2.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/3.jpg">
							<div class="agile_gallery_grid1">
								<img src="images/3.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_agile_gallery_grid">
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/4.jpg">
							<div class="agile_gallery_grid1">
								<img src="images/4.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/5.jpg">
							<div class="agile_gallery_grid1">
								<img src="images/5.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/6.jpg">
							<div class="agile_gallery_grid1">
								<img src="images/6.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_agile_gallery_grid">
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/7.jpg">
							<div class="agile_gallery_grid1">
								<img src="images/7.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/8.jpg">
							<div class="agile_gallery_grid1">
								<img src="images/8.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/9.jpg">
							<div class="agile_gallery_grid1">
								<img src="images/9.jpg" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	  gallery -->