<div class="banner" id="home">
  <div class="container">
    <!-- header -->
    <header>

      <div class="header-bottom-agileits">
        <div class="w3-logo">
          <h1><a href="index.html">Nuvonerd<span class="sub-logo">Nuvonerd</span></a></h1>
        </div>
        <!-- navigation -->
        <nav class="navbar navbar-default shift">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>

          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a class="active" href="index.html">Home</a></li>
              <li><a class="scroll" href="#about">About</a></li>
              <li><a class="scroll" href="#education">Education</a></li>
              <li><a class="scroll" href="#work">Experience</a></li>
              <li><a class="scroll" href="#skills">Skills</a></li>
              <li><a class="scroll" href="#contact">Contact</a></li>
              <li><a href="/blog">Blog</a></li>
            </ul>

          </div>
          <!-- /.navbar-collapse -->

        </nav>
      </div>
      <div class="clearfix"></div>
      <!-- //navigation -->
    </header>
    <!-- //header -->
    <div class="headshot">
      <div class="banner-text-w3-agileits">
        <h5>Hi, I'm</h5>
        <h2><span>S</span>imone <span>B</span>attiste-<span>A</span>lleyne</h2>
        <p>Full Stack<p>
        <p> Software Engineer</p>
      </div>
    </div>
    <!--
    <div class="botton">
      <a href="#about" class="scroll">About me <span class="fa fa-caret-right"></span></a>
    </div>	
  -->
  </div>
</div>