	<!-- awards and skills -->
	<div class="awards-bg-agile" id="skills">
		<div class="container">
			<div class="col-md-6 awards-agileits-w3layouts">
				<div class="title-wthree">
					<h5 class="title-w3">Tech Talks</h5>
					<div class="clearfix"></div>
				</div>
				<div class="w3_agileits_services_grids">
					<div class="col-md-4 w3_agileits_services_grid">
						<div class="w3_agileits_services_grid_agile">
							<div class="w3_agileits_services_grid_1 i1">
								<a class="fa fa-server" aria-hidden="true"></a>
							</div>
							<h3>Fusion Conf 2017</h3>
							<p class="para-agileits-w3layouts"> Topic: The Back-End For Front End Folks</p>
						</div>
					</div>
					<div class="col-md-4 w3_agileits_services_grid">
						<div class="w3_agileits_services_grid_agile">
							<div class="w3_agileits_services_grid_1 i2">
								<a class="fa fa-briefcase" aria-hidden="true"></a>
							</div>
							<h3>Fusion Day 2016</h3>
							<p class="para-agileits-w3layouts">Topic: How to Find Your First Front-End Job</p>
						</div>
					</div>
					<div class="col-md-4 w3_agileits_services_grid hvr-overline-from-center">
						<div class="w3_agileits_services_grid_agile">
							<div class="w3_agileits_services_grid_1 i3">
								<a class="fa fa-magic" aria-hidden="true"></a>
							</div>
							<h3>Grace Hopper Conference 2016</h3>
							<p class="para-agileits-w3layouts"> Topic: Career Transformation</p>
						</div>
					</div>
					<!--
					<div class="col-md-3 w3_agileits_services_grid">
						<div class="w3_agileits_services_grid_agile">
							<div class="w3_agileits_services_grid_1 i4">
								<a class="fa fa-trophy" aria-hidden="true"></a>
							</div>
							<h3>Prime Gold Award</h3>
							<p class="para-agileits-w3layouts">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</div>
				-->
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-6 skills-w3layouts" id="skills">
				<div class="title-wthree">
					<h5 class="title-w3">Skills</h5>
					<div class="clearfix"></div>
				</div>
				<div class="skill-main-agileits">
					<p class="p1">95%</p>
					<h4>Node.js</h4>
				</div>
				<div class="skill-main-agileits">
					<p class="p2">75%</p>
					<h4>Ruby on Rails</h4>
				</div>
				<div class="skill-main-agileits">
					<p class="p3">80%</p>
					<h4>Serverless</h4>
				</div>
				<div class="skill-main-agileits">
					<p class="p4">80%</p>
					<h4>Microservices</h4>
				</div>
				<div class="skill-main-agileits">
					<p class="p5">90%</p>
					<h4>Amazon Web Services</h4>
				</div>
				<div class="skill-main-agileits">
					<p class="p6">70%</p>
					<h4>DevOps</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- //awards and skills -->