<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <aside class="callout">
        <div class="text-vertical-center textbox">
            <h1>Blog</h1>
        </div>
    </aside>

    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-10 col-lg-offset-1">
                    <p class="lead"><a class="fa fa-angle-left" href="/" style="font-size: 3x; color:black"> Home</a></p>
                    
                    <% posts.forEach(function(post) { %>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <img src="<%= post.featured_image %>" class="img-responsive" alt="Responsive image">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10"> 
                        <p class="lead">
                            <a href="/blog/<%= post.slug %>">
                            <%= post.title %>
                            </a>
                        </p>
                        <p id="published">
                            <i class="fa fa-print"></i>
                            <% const date = new Date (post.published) %>
                            <%= date.getMonth() +1%>/<%= date.getDate()%>/<%= date.getFullYear()%>
                        </p>
                        <p><%= post.summary %></p>
                    </div>
                    <% }); %> 

                </div>
            </div>            
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <!--
                    <h4><strong>ButterCMS</strong></h4>
                    <p><a href="https://buttercms.com">https://buttercms.com</a></p>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/buttercms"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; ButterCMS</p>
                -->
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.js"></script>

    
</body>

</html>