<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<title>Nuvonerd</title>
<style type="text/css">
body{
	font-family:Arial, Helvetica, sans-serif;
}
.wrap{
	width:1000px;
	margin:0 auto;
	background:#fff;
}
.logo {
    width:430px;
    margin:0 auto;
    padding-top:14em;
}

p a {
	color: hotpink;
	text-decoration-style: none!important;
}
p a:hover{
	color:lightgreen;
}
.footer{
	position:absolute;
	bottom:10px;
	right:10px;
	font-size:1px;
	color:#aaa;
}
.footer a{
	color:#666;
	text-decoration:none;
}
/*--responsive--*/

@media(max-width:991px){

	.wrap {
		margin: 0px auto;
		width: 897px;
	}

}
@media(max-width:900px){
	.wrap {
		margin: 0px auto;
		width: 820px;
	}

}	
@media(max-width:800px){
	.wrap {
		margin: 0px auto;
		width: 700px;
	}
}
@media (max-width:736px){
	.wrap {
		margin: 0px auto;
		width: 627px;
	}

}
@media(max-width:667px){
	.wrap {
		margin: 0px auto;
		width: 600px;
	}

}
@media(max-width:640px){
	.wrap {
		margin: 0px auto;
		width: 570px;
	}

}
@media(max-width:600px){
	.wrap {
		margin: 0px auto;
		width:458px;
	}
	.logo {
		width: 322px;
		margin: 0 auto;
		padding-top: 9em;
	}
	.logo img {
		width: 100%;
	}
	.footer {
		position: absolute;
		bottom: 147px;
		left: 69px;
		font-size: 12px;
	}
}

@media(max-width:480px){
	.wrap {
		margin: 0px auto;
		width:375px;
	}

}
@media(max-width:440px){
	.footer {
		position: absolute;
		bottom: 105px;
		left: 48px;
		font-size: 12px;
	}
}
@media(max-width:414px){

	.wrap {
		margin: 0px auto;
		width: 357px;
	}


}
@media(max-width:384px){
	.wrap {
		margin: 0px auto;
		width: 363px;
	}
	.footer {
		position: absolute;
		bottom: 105px;
		left: 9px;
		font-size: 12px;
		text-align: center;
		line-height: 1.8em;
	}
}
@media(max-width:375px){
	.wrap {
		margin: 0px auto;
		width: 337px;
	}
	.logo {
		width:250px;
		margin: 0 auto;
		padding-top:8em;
	}
}
@media(max-width:320px){
	.wrap {
		margin: 0px auto;
		width: 285px;
	}
	.logo {
		width:181px;
		margin: 0 auto;
		padding-top:5em;
	}

}
</style>
</head>
<body>
<div class="wrap">
    <div class="logo">
        <img src="images/404.png" alt=""  />
        <p><a class="fa fa-angle-left" style="font-size: 3ex"href="/"> Home</a></p>
    </div>
</div>
<div class="footer">
	&copy 2012 404 White. All Rights Reserved | Design by&nbsp; <a href="http://w3layouts.com">W3Layouts</a>
</div>

</body>
</html>
